@import 'tailwindcss';

@config "../../tailwind.config.ts";

@theme {
  /* 사용할 변수 외 최소화 */
  --font-*: initial;
  --text-*: initial;
  --color-*: initial;
  --breakpoint-*: initial;
  --container-*: initial;
  /* Primitive Colors - Grayscale */
  --color-gray-50: #f2f4f6;
  --color-gray-75: #eff1f3;
  --color-gray-100: #e5e8eb;
  --color-gray-200: #d0d5da;
  --color-gray-300: #b8bdc4;
  --color-gray-400: #979ca3;
  --color-gray-500: #7c8188;
  --color-gray-600: #656a70;
  --color-gray-700: #51565b;
  --color-gray-800: #42464b;
  --color-gray-900: #363a3f;
  --color-gray-950: #1a1d1f;

  /* Primitive Colors - Orangescale */
  --color-orange-50: #ffede6;
  --color-orange-100: #ffc6b0;
  --color-orange-200: #ffab8a;
  --color-orange-300: #ff8454;
  --color-orange-400: #ff6d33;
  --color-orange-500: #ff4800;
  --color-orange-600: #e84200;
  --color-orange-700: #b53300;
  --color-orange-800: #8c2800;
  --color-orange-900: #6b1e00;

  /* Brand Colors */
  --color-primary: var(--color-orange-500);
  --color-secondary: var(--color-gray-950);
  --color-tertiary: var(--color-gray-50);
  --color-white: #ffffff;

  /* Gradient Colors */
  --color-gradient-start: #ff4800;
  --color-gradient-mid: #ff5ea0;
  --color-gradient-end: #9d00ff;

  /* Status Colors */
  --color-sale: #ff4242;
  --color-error: #dd1515;
  --color-positive: #007aff;
  --color-success: #01a768;
  --color-warning: #ffd60a;

  /* 텍스트 전용 Colors */
  --color-string: var(--color-gray-950);
  --color-normal: var(--color-gray-800);
  --color-alternative: var(--color-gray-600);
  --color-assistive: var(--color-gray-300);
  /* disabled 텍스트용 */
  --color-disabled: var(--color-gray-200);

  /* 배경 전용 Colors */
  --color-primary-a36: #ffbda3;
  --color-primary-a8: #fff0eb;
  --color-primary-hover: var(--color-orange-600);
  --color-secondary-hover: var(--color-gray-900);
  --color-tertiary-hover: var(--color-gray-200);
  /* 버튼 스타일 outline hover 색상 */
  --color-outline-hover: var(--color-gray-950);

  /* disabled 배경용 */
  --color-disabled-fill: var(--color-gray-100);

  /* Border Colors */
  --color-line: var(--color-gray-300);
  --color-alter-line: var(--color-gray-200);
  --color-assist-line: var(--color-gray-100);

  /* 리뷰 이미지 영역 색상  */

  /* Border Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;

  /* Font Family */
  --font-pretendard:
    'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  /* Breakpoint */
  /* md가 tablet, lg가 desktop */
  --breakpoint-md: 48rem;
  --breakpoint-lg: 80rem;
}

/* 커스텀 클래스 정의 */
@layer utilities {
  /* Typography 정의 */
  .typo-title1 {
    @apply text-[2.25rem] leading-[120%] font-bold;
  }

  .typo-h1 {
    @apply text-[1.75rem] leading-[130%] font-bold;
  }

  .typo-h2 {
    @apply text-[1.5rem] leading-[130%] font-bold;
  }

  .typo-h3 {
    @apply text-[1.25rem] leading-[130%] font-bold;
  }

  .typo-body1 {
    @apply text-[1.25rem] leading-[140%] font-normal tracking-[-0.75%];
  }

  .typo-body2 {
    @apply text-[1.125rem] leading-[140%] font-normal tracking-[-0.75%];
  }

  .typo-body3 {
    @apply text-[1rem] leading-[140%] font-normal tracking-[-0.75%];
  }

  .typo-button1 {
    @apply text-[1rem] leading-[140%] font-bold;
  }

  .typo-button2 {
    @apply text-[0.875rem] leading-[140%] font-bold;
  }

  /* 공통 체크박스 컴포넌트에서 사용 */
  .group-has-data-\[state\=checked\]\:typo-button2 {
    &:is(:where(.group):has(*[data-state='checked']) *) {
      @apply text-[0.875rem] leading-[140%] font-bold;
    }
  }

  .typo-caption1 {
    @apply text-[0.875rem] leading-[140%] font-normal;
  }

  .typo-caption2 {
    @apply text-[0.75rem] leading-[140%] font-normal;
  }

  /* 그라디언트 컬러 클래스 */
  .bg-gradient {
    @apply bg-gradient-to-r from-gradient-start via-gradient-mid to-gradient-end;
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-[5px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-alter-line;
  }

  button {
    cursor: pointer;
  }
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
